@import "~bootstrap/scss/bootstrap";

html, body, #root
    height: 100%;
    margin: 0;

.florida
  &__home
    &--container
      background-color: #d4b9a5;
      background-image: url('./img/seamless-1807376.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      color: #333333;
      min-height: 100%;
      height: auto;
    &--title
      background-color: #222222;
      color: #FFFFFF;
    // &--state
    //   position: absolute;
    &--content
      background-image: url('./img/florida.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      // position: absolute;
      // z-index: 1;
  &__mugshot
    &--container
      z-index: 9;
    &--img
      width: 100px;
      height: 100px;
      position: absolute;
      transition: all 0.5s ease;
      -webkit-box-shadow: 5px 5px 5px -4px rgba(102,102,102,0.3);
      -moz-box-shadow: 5px 5px 5px -4px rgba(102,102,102,0.3);
      box-shadow: 5px 5px 5px -4px rgba(102,102,102,0.3);
      @include media-breakpoint-only(lg)
        width: 75px;
        height: 75px;
      @include media-breakpoint-only(md)
        width: 50px;
        height: 50px;
      &:hover
        cursor: pointer;
        -webkit-transform: scale(1.25);
        -ms-transform: scale(1.25);
        transform: scale(1.25);
        @include media-breakpoint-only(md)
          -webkit-transform: scale(1.50);
          -ms-transform: scale(1.50);
          transform: scale(1.50);
    &--berton-strong
      top: -2%;
      left: -2%;
    &--ben-jenkins
      top: 5%;
      left: 25%;
    &--albert-alvarez
      top: -1%;
      left: 45%;
    &--joel-jennings
      top: -5%;
      left: 68%;
      

  
@media (prefers-reduced-motion: no-preference) 
  .App-logo 
    animation: App-logo-spin infinite 20s linear;
  


@keyframes App-logo-spin 
  from 
    transform: rotate(0deg);
  
  to 
    transform: rotate(360deg);
  

