@import "~bootstrap/scss/bootstrap";

/* color scheme */
$red: #DB5461;
$blue: #06213C;
$sand: #ECD0B8;
$black: #333333;
$purple: #CC76A1;

/* fonts */
$rokkit: 'Rokkitt', serif;;
$ubuntu: 'Ubuntu Mono', monospace;;


html, body, #root
  height: 100%;
  margin: 0;
  font-family: $ubuntu;

h1, h2, h3, h4, h5, h6
  font-family: $rokkit;

p, span
  font-family: $ubuntu;

.red
  color: $red;
  &--bold
    font-weight: bold;

.florida
  &__home
    &--container
      background-color: $sand;
      background-image: url('./img/seamless-1807376.jpg');
      background-size: contain;
      background-repeat: repeat;
      color: $black;
      min-height: 100%;
      height: auto;
    &--title
      background-color: $red;
      color: #FFFFFF;
      @include media-breakpoint-only(xs)
        font-size: 28px;
    &--instructions
      font-weight: bold;
    &--state
      @include media-breakpoint-down(sm)
        display: none;
      &--mobile
        width: 25%;
    &--attr
      // @include media-breakpoint-only(xl)
      //   position: absolute;
      //   bottom: 0;
      //   right: 0;
      a
        color: $black;
        text-decoration: underline;
        transition: all 0.3s ease;
        &:hover
          color: $purple;
  &__mugshot
    &--container
      z-index: 9;
    &--img
      width: 100px;
      height: 100px;
      position: absolute;
      transition: all 0.3s ease;
      -webkit-box-shadow: 5px 5px 5px -4px rgba(102,102,102,0.3);
      -moz-box-shadow: 5px 5px 5px -4px rgba(102,102,102,0.3);
      box-shadow: 5px 5px 5px -4px rgba(102,102,102,0.3);
      @include media-breakpoint-only(lg)
        width: 75px;
        height: 75px;
      @include media-breakpoint-only(md)
        width: 50px;
        height: 50px;
      @include media-breakpoint-down(sm)
        position: relative;
        margin: 15px 10px;
        top: 0!important;
        left: 0!important;
      &:hover
        cursor: pointer;
        -webkit-transform: scale(1.25);
        -ms-transform: scale(1.25);
        transform: scale(1.25);
        @include media-breakpoint-only(md)
          -webkit-transform: scale(1.50);
          -ms-transform: scale(1.50);
          transform: scale(1.50);
    &--berton-strong
      top: -2%;
      left: -2%;
    &--ben-jenkins
      top: 5%;
      left: 25%;
    &--albert-alvarez
      top: -1%;
      left: 45%;
    &--joel-jennings
      top: -5%;
      left: 68%;
    &--carl-skippins
      top: 21%;
      left: 60%;
    &--herman-douglas
      top: 34%;
      left: 80%;
    &--dewey-fleming
      top: 53%;
      left: 65%;
    &--donald-schmidt 
      top: 58%;
      left: 85%;
    &--clam-jones
      top: 79%;
      left: 77%;
  &__case-file
    &--photo
      width: fit-content;
      position: relative;
      &-container
        position: relative;
        z-index: 5;
        width: 260px;
      &-mugshot
        position: absolute;
        top: 7%;
        left: 13%;
        width: 74%;
        z-index: 1;
        transform: rotate(-4.5deg);
        // border-left: 13px solid #daf8f9;
        // border-right: 13px solid #daf8f9;

.hamburger-menu
  width: fit-content;
  position: absolute;
  right: 0;
  top: 0;
  .fa-bars
    font-size: 21px;
    &:hover
      color: $red;
      cursor: pointer;


  
@media (prefers-reduced-motion: no-preference) 
  .App-logo 
    animation: App-logo-spin infinite 20s linear;
  


@keyframes App-logo-spin 
  from 
    transform: rotate(0deg);
  
  to 
    transform: rotate(360deg);
  

